# Content-based Filtering

In [ ]:
import pandas as pd
import numpy as np
import ast
import time

users = pd.read_csv('game_data_prepared/users.csv')
ratings = pd.read_csv('game_data_prepared/ratings.csv')
gamesF = pd.read_csv('game_data_prepared/games.csv')

gamesF['tags'] = gamesF['tags'].apply(ast.literal_eval)

In [2]:
users

       user_id  products  reviews
0      6366584      1597      107
1     11402551       444      108
2      5047735      1941      113
3      5337314      1252      182
4      5382866      2723       87
...        ...       ...      ...
7634   8340518       433      102
7635   8458227       405      214
7636   8706224       211       95
7637   8769179       449      111
7638   2077327       228      105

[7639 rows x 3 columns]

In [3]:
ratings

          app_id  helpful  is_recommended  hours   user_id
0        1325200        0               1   94.5  11593837
1        1063660        0               1   14.1   3274203
2         536270        0               1   25.8  13953138
3        1544020        3               0    3.8   9650854
4        1850570       12               1   72.5   5361677
...          ...      ...             ...    ...       ...
1216810   391220        0               1   26.0   7195474
1216811   253430        0               0    1.0   2444255
1216812   897450        0               1    6.0   8857084
1216813  1818450        0               1    1.0  13261742
1216814   362960        0               1   35.0   7858713

[1216815 rows x 5 columns]

In [4]:
gamesF

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_original,tags
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,"[Action, Adventure, Parkour, Third Person, Gre..."
1,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,"[Co-op, Stealth, Indie, Heist, Local Co-Op, St..."
2,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,"[Zombies, Adventure, Survival, Action, Third P..."
3,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,"[Roguelike, Strategy, Tower Defense, Pixel Gra..."
4,250180,METAL SLUG 3,2015-09-14,True,False,False,Very Positive,90,5579,7.99,"[Arcade, Classic, Action, Co-op, Side Scroller..."
...,...,...,...,...,...,...,...,...,...,...,...
34315,1953060,Time Thief,2022-05-24,True,True,True,Very Positive,97,171,0.00,"[Action-Adventure, Action, Adventure, Explorat..."
34316,668600,Pixelum,2020-10-01,True,False,False,Mixed,41,58,0.00,"[RPG, Adventure, Simulation, Indie, Early Acce..."
34317,2071510,Goblin Rules Football,2022-10-20,True,True,True,Mostly Positive,72,11,0.00,"[Sports, Arcade, 2D, Football (American), Team..."
34318,962400,Granny,2018-11-20,True,False,False,Very Positive,90,1403,4.99,"[Horror, Survival Horror, Adventure, First-Per..."
34319,1205040,Granny: Chapter Two,2019-12-30,True,False,False,Overwhelmingly Positive,95,576,4.99,"[Adventure, Indie, Horror, Gore, Violent, Dark..."

In [5]:
from sklearn.model_selection import train_test_split


train_ratings, test_ratings = train_test_split(
    ratings, test_size=0.15, random_state=21
)

Split but make sure that all users appear in train set for predict, model learn

In [6]:
users_in_validation = train_ratings["user_id"].unique()
all_users = users["user_id"].unique()

print(f"There are {len(users_in_validation)} users in test set.")
print(f"Total number of users: {len(all_users)}")

There are 7639 users in test set.
Total number of users: 7639

In [7]:
train_ratings

         app_id  helpful  is_recommended  hours   user_id
748176   485860        5               0   13.7   5346670
532394   108800        2               0    6.5   8177238
1031797  380140        3               1    1.9  11877072
172187   107100        0               1   31.8   5090666
257063   257420        0               1   30.7   5023269
...         ...      ...             ...    ...       ...
566392   239200        0               1    0.2   4353125
63856    238460        6               1   50.8   7005044
1130544  340000        0               1    1.0   7372560
664324   791330        0               1    8.6   8843670
202552    40800        0               1    7.9   5479874

[1034292 rows x 5 columns]

In [8]:
user_counts = train_ratings['user_id'].value_counts()
user_counts = user_counts.sort_values(ascending=True)

print(user_counts)

user_id
7808390       58
4833262       60
10307665      60
5902154       60
5823763       60
            ...
4457971     2217
4318160     2219
11656130    3217
5112758     3434
11764552    5067
Name: count, Length: 7639, dtype: int64

In [9]:
game_index_by_id = {id: i for i, id in enumerate(gamesF["app_id"])}

In [10]:
gamesF

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_original,tags
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,"[Action, Adventure, Parkour, Third Person, Gre..."
1,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,"[Co-op, Stealth, Indie, Heist, Local Co-Op, St..."
2,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,"[Zombies, Adventure, Survival, Action, Third P..."
3,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,"[Roguelike, Strategy, Tower Defense, Pixel Gra..."
4,250180,METAL SLUG 3,2015-09-14,True,False,False,Very Positive,90,5579,7.99,"[Arcade, Classic, Action, Co-op, Side Scroller..."
...,...,...,...,...,...,...,...,...,...,...,...
34315,1953060,Time Thief,2022-05-24,True,True,True,Very Positive,97,171,0.00,"[Action-Adventure, Action, Adventure, Explorat..."
34316,668600,Pixelum,2020-10-01,True,False,False,Mixed,41,58,0.00,"[RPG, Adventure, Simulation, Indie, Early Acce..."
34317,2071510,Goblin Rules Football,2022-10-20,True,True,True,Mostly Positive,72,11,0.00,"[Sports, Arcade, 2D, Football (American), Team..."
34318,962400,Granny,2018-11-20,True,False,False,Very Positive,90,1403,4.99,"[Horror, Survival Horror, Adventure, First-Per..."
34319,1205040,Granny: Chapter Two,2019-12-30,True,False,False,Overwhelmingly Positive,95,576,4.99,"[Adventure, Indie, Horror, Gore, Violent, Dark..."

In [11]:
import numpy as np

# Extract all unique tags from the 'tags' column in gamesF
unique_tags = set(tag for tags_list in gamesF['tags'] for tag in tags_list)

# Convert the set to a sorted list
tags = sorted(unique_tags)

# Create an index mapping for the tags
tag_index_by_name = {name: i for i, name in enumerate(tags)}

# Build a binary array for game tags
game_features = np.zeros((len(gamesF), len(tags)))

for i, game_tags in enumerate(gamesF["tags"]):
    for tag in game_tags:
        if tag in tag_index_by_name:  # Ensure the tag is in the list of defined tags
            tag_index = tag_index_by_name[tag]
            game_features[i, tag_index] = 1

In [12]:
len(tags)

441

In [13]:
tag_index_by_name = {name: i for i, name in enumerate(tags)}

# Build a binary array for game tags
game_features = np.zeros((len(gamesF), len(tags)))

for i, game_tags in enumerate(gamesF["tags"]):
    for tag in game_tags:
        if tag in tag_index_by_name:  # Ensure the tag is in the list of defined tags
            tag_index = tag_index_by_name[tag]
            game_features[i, tag_index] = 1

In [14]:
len(game_index_by_id)

34320

In [15]:
game_features[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## Model

Ridge Regression works well when all features contribute a bit to the output, while Lasso is preferred when you believe that only a subset of features are important.

In [36]:
users

       user_id  products  reviews
0      6366584      1597      107
1     11402551       444      108
2      5047735      1941      113
3      5337314      1252      182
4      5382866      2723       87
...        ...       ...      ...
8048   8458227       405      214
8049   8507454       374       95
8050   8706224       211       95
8051   8769179       449      111
8052   2077327       228      105

[8053 rows x 3 columns]

In [38]:
users[users['user_id']==6366584]

   user_id  products  reviews
0  6366584      1597      107

In [40]:
ratings[ratings['user_id']==6366584]

         app_id  helpful  is_recommended  hours  user_id
29730    282070        3               1   44.6  6366584
97432    287450       13               1    8.5  6366584
103710   200510        8               1  103.2  6366584
194108   282140        2               1    9.8  6366584
195836   110800        4               0    3.0  6366584
...         ...      ...             ...    ...      ...
1225421   65930        3               1   20.0  6366584
1234334   47870        2               1   43.0  6366584
1243135   57650        4               0   40.0  6366584
1252806   39690        0               0   37.0  6366584
1280461  231740        0               0   22.0  6366584

[107 rows x 5 columns]

In [41]:
gamesF[gamesF['app_id'] == 10]

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_original,tags
33286,10,Counter-Strike,2000-11-01,True,True,True,Overwhelmingly Positive,97,136118,9.99,"[Action, FPS, Multiplayer, Shooter, Classic, T..."

In [16]:
from sklearn.linear_model import Ridge

def train_user_model(user_id):
    user_ratings = train_ratings[train_ratings["user_id"] == user_id]
    game_indexes = [
        game_index_by_id[game_id] for game_id in user_ratings["app_id"]
    ]
    train_data = game_features[game_indexes]  # take tag of game has rating
    train_label = user_ratings["is_recommended"] # rating of that person
    model = Ridge(alpha=0.1)
    model.fit(train_data, train_label)
    return model

# build model for each user
user_model_dict = {}
for user_id in users["user_id"].unique():
    user_model_dict[user_id] = train_user_model(user_id)

In [17]:
def predict(game_id, user_id):
    game_feature = game_features[game_index_by_id[game_id]].reshape((1, -1))
    pred = user_model_dict[user_id].predict(game_feature)
    pred = pred.item()  
    
    return min(max(pred, 0), 1)

In [ ]:
# def predict(game_id, user_id):
#     game_feature = game_features[game_index_by_id[game_id]].reshape((1, -1))
#     pred = user_model_dict[user_id].predict(game_feature)
    
#     # Use a threshold to convert to binary class
#     binary_pred = 1 if pred >= 0.5 else 0
    
#     return binary_pred

In [18]:
from sklearn.metrics import root_mean_squared_error

def eval_rmse(ratings):
    predictions = np.zeros(len(ratings))
    for index, row in enumerate(ratings.itertuples(index=False)):
        predictions[index] = predict(row[0], row[4])
    rmse = root_mean_squared_error(ratings["is_recommended"], predictions)
    return float(rmse)
    
print(f"RMSE train: {eval_rmse(train_ratings)}")
print(f"RMSE validation: {eval_rmse(test_ratings)}")

RMSE train: 0.11584488037603018
RMSE validation: 0.4610557883767464

In [20]:
from sklearn.metrics import root_mean_squared_error

def eval_rmse(ratings):
    predictions = np.zeros(len(ratings))
    for index, row in enumerate(ratings.itertuples(index=False)):
        predictions[index] = predict(row[0], row[4])
    rmse = root_mean_squared_error(ratings["is_recommended"], predictions)
    return float(rmse)
    
print(f"RMSE train: {eval_rmse(train_ratings)}")
print(f"RMSE validation: {eval_rmse(test_ratings)}")

RMSE train: 0.12020606399317581
RMSE validation: 0.5234694455842915

In [21]:
user_id = 6366584
for tag, coef in zip(tags, user_model_dict[user_id].coef_):
    print("{:15s}: {:.3f}".format(tag, coef))

1980s          : 0.000
1990's         : 0.034
2.5D           : 0.021
2D             : 0.272
2D Fighter     : 0.000
2D Platformer  : 0.000
360 Video      : 0.000
3D             : 0.182
3D Fighter     : 0.000
3D Platformer  : 0.000
3D Vision      : -0.367
4 Player Local : 0.028
4X             : -0.211
6DOF           : 0.000
8-bit Music    : 0.000
ATV            : 0.000
Abstract       : 0.000
Action         : 0.017
Action RPG     : -0.151
Action RTS     : 0.146
Action Roguelike: 0.000
Action-Adventure: 0.265
Addictive      : -0.055
Adventure      : 0.040
Agriculture    : 0.000
Aliens         : 0.181
Alternate History: 0.140
Ambient        : 0.000
America        : -0.100
Animation & Modeling: 0.000
Anime          : 0.170
Arcade         : 0.047
Archery        : 0.000
Arena Shooter  : 0.000
Artificial Intelligence: 0.000
Assassin       : 0.039
Asymmetric VR  : 0.000
Asynchronous Multiplayer: 0.000
Atmospheric    : 0.068
Audio Production: 0.000
Auto Battler   : 0.000
Automation     : 0.000
Automobile Sim : 0.113
BMX            : 0.000
Base Building  : 0.115
Baseball       : 0.000
Based On A Novel: 0.000
Basketball     : 0.000
Battle Royale  : 0.000
Beat 'em up    : 0.184
Beautiful      : 0.073
Benchmark      : 0.106
Bikes          : 0.000
Blood          : 0.035
Board Game     : -0.124
Boss Rush      : 0.000
Bowling        : 0.000
Boxing         : 0.000
Building       : -0.316
Bullet Hell    : 0.027
Bullet Time    : -0.096
CRPG           : -0.177
Capitalism     : 0.000
Card Battler   : 0.000
Card Game      : 0.150
Cartoon        : 0.000
Cartoony       : 0.112
Casual         : -0.024
Cats           : 0.000
Character Action Game: 0.000
Character Customization: 0.172
Chess          : 0.000
Choices Matter : 0.192
Choose Your Own Adventure: -0.028
Cinematic      : -0.153
City Builder   : 0.115
Class-Based    : 0.202
Classic        : -0.065
Clicker        : 0.079
Co-op          : 0.267
Co-op Campaign : 0.025
Coding         : 0.000
Cold War       : -0.218
Collectathon   : 0.000
Colony Sim     : -0.006
Colorful       : 0.025
Combat         : -0.067
Combat Racing  : 0.012
Comedy         : -0.048
Comic Book     : -0.028
Competitive    : 0.202
Conspiracy     : 0.039
Controller     : 0.009
Conversation   : 0.000
Cooking        : 0.000
Cozy           : 0.000
Crafting       : 0.027
Creature Collector: 0.000
Cricket        : 0.000
Crime          : 0.072
Crowdfunded    : -0.201
Cult Classic   : 0.000
Cute           : 0.000
Cyberpunk      : -0.014
Cycling        : 0.000
Dark           : 0.187
Dark Comedy    : 0.030
Dark Fantasy   : 0.167
Dark Humor     : 0.195
Dating Sim     : 0.000
Deckbuilding   : 0.150
Demons         : -0.083
Design & Illustration: 0.000
Destruction    : -0.185
Detective      : -0.126
Difficult      : 0.237
Dinosaurs      : 0.000
Diplomacy      : 0.000
Documentary    : 0.000
Dog            : 0.000
Dragons        : -0.329
Drama          : 0.219
Driving        : 0.113
Dungeon Crawler: 0.000
Dungeons & Dragons: 0.000
Dynamic Narration: 0.000
Dystopian      : 0.130
Early Access   : -0.232
Economy        : -0.210
Education      : 0.000
Electronic     : 0.000
Electronic Music: 0.000
Emotional      : 0.021
Epic           : 0.115
Episodic       : 0.154
Escape Room    : 0.000
Experience     : 0.000
Experimental   : 0.000
Exploration    : 0.095
FMV            : 0.000
FPS            : 0.018
Faith          : 0.000
Family Friendly: -0.102
Fantasy        : -0.062
Farming        : 0.000
Farming Sim    : 0.000
Fast-Paced     : 0.000
Feature Film   : 0.000
Female Protagonist: 0.048
Fighting       : -0.048
First-Person   : 0.078
Fishing        : 0.000
Flight         : 0.202
Football (American): -0.245
Football (Soccer): 0.000
Foreign        : 0.000
Fox            : 0.000
Free to Play   : 0.102
Funny          : 0.049
Futuristic     : 0.024
Gambling       : 0.000
Game Development: 0.000
GameMaker      : 0.000
Games Workshop : 0.021
Gaming         : 0.000
God Game       : 0.000
Golf           : 0.000
Gore           : 0.199
Gothic         : -0.148
Grand Strategy : 0.203
Great Soundtrack: -0.001
Grid-Based Movement: 0.000
Gun Customization: 0.000
Hack and Slash : 0.274
Hacking        : -0.002
Hand-drawn     : -0.201
Hardware       : 0.000
Heist          : -0.327
Hentai         : 0.000
Hero Shooter   : 0.000
Hex Grid       : 0.150
Hidden Object  : 0.000
Historical     : -0.003
Hobby Sim      : 0.000
Hockey         : 0.000
Horror         : -0.113
Horses         : 0.000
Hunting        : -0.030
Idler          : 0.000
Illuminati     : 0.000
Immersive      : 0.030
Immersive Sim  : 0.000
Indie          : 0.019
Instrumental Music: 0.000
Intentionally Awkward Controls: 0.000
Interactive Fiction: -0.002
Inventory Management: 0.143
Investigation  : -0.129
Isometric      : 0.019
JRPG           : 0.204
Jet            : 0.000
Job Simulator  : 0.000
Jump Scare     : 0.000
Kickstarter    : -0.176
LEGO           : 0.000
LGBTQ+         : 0.059
Lemmings       : 0.000
Level Editor   : 0.000
Life Sim       : 0.000
Linear         : -0.039
Local Co-Op    : -0.317
Local Multiplayer: -0.157
Logic          : 0.000
Loot           : 0.002
Looter Shooter : 0.003
Lore-Rich      : 0.000
Lovecraftian   : 0.028
MMORPG         : -0.036
MOBA           : 0.000
Magic          : -0.055
Mahjong        : 0.000
Management     : 0.041
Mars           : 0.027
Martial Arts   : 0.000
Massively Multiplayer: 0.054
Match 3        : 0.165
Mature         : -0.002
Mechs          : 0.000
Medical Sim    : 0.000
Medieval       : 0.083
Memes          : 0.328
Metroidvania   : 0.000
Military       : -0.167
Mini Golf      : 0.000
Minigames      : 0.000
Minimalist     : 0.150
Mining         : 0.002
Mod            : 0.000
Moddable       : 0.204
Modern         : -0.100
Motocross      : 0.000
Motorbike      : 0.000
Mouse only     : -0.002
Movie          : 0.000
Multiplayer    : 0.031
Multiple Endings: -0.333
Music          : 0.047
Music-Based Procedural Generation: 0.000
Musou          : 0.000
Mystery        : -0.000
Mystery Dungeon: 0.000
Mythology      : 0.093
NSFW           : 0.000
Narration      : 0.184
Narrative      : 0.000
Nature         : -0.116
Naval          : -0.046
Naval Combat   : -0.046
Ninja          : 0.000
Noir           : -0.069
Nonlinear      : 0.000
Nostalgia      : 0.022
Nudity         : 0.139
Offroad        : 0.000
Old School     : -0.051
On-Rails Shooter: 0.000
Online Co-Op   : -0.140
Open World     : 0.108
Open World Survival Craft: -0.054
Otome          : 0.000
Outbreak Sim   : 0.000
Parkour        : -0.010
Parody         : 0.004
Party          : 0.000
Party Game     : 0.000
Party-Based RPG: 0.186
Perma Death    : -0.118
Philosophical  : 0.058
Photo Editing  : 0.000
Physics        : -0.185
Pinball        : 0.000
Pirates        : -0.078
Pixel Graphics : -0.074
Platformer     : -0.152
Point & Click  : -0.030
Political      : 0.205
Political Sim  : -0.002
Politics       : -0.002
Pool           : 0.000
Post-apocalyptic: 0.037
Precision Platformer: 0.000
Procedural Generation: 0.252
Programming    : 0.000
Psychedelic    : 0.000
Psychological  : 0.021
Psychological Horror: 0.095
Puzzle         : 0.064
Puzzle Platformer: 0.000
PvE            : -0.085
PvP            : -0.016
Quick-Time Events: -0.011
RPG            : 0.032
RPGMaker       : 0.000
RTS            : 0.126
Racing         : 0.147
Real Time Tactics: 0.000
Real-Time      : -0.030
Real-Time with Pause: 0.000
Realistic      : -0.306
Reboot         : 0.000
Relaxing       : 0.121
Remake         : 0.209
Replay Value   : 0.142
Resource Management: -0.040
Retro          : 0.032
Rhythm         : 0.000
Robots         : 0.000
Rock Music     : 0.000
Roguelike      : 0.150
Roguelike Deckbuilder: 0.000
Roguelite      : 0.150
Roguevania     : 0.000
Romance        : 0.229
Rome           : -0.176
Rugby          : 0.000
Runner         : 0.000
Sailing        : -0.046
Sandbox        : -0.058
Satire         : 0.066
Sci-fi         : 0.186
Science        : 0.000
Score Attack   : 0.112
Sequel         : 0.150
Sexual Content : -0.064
Shoot 'Em Up   : -0.078
Shooter        : 0.186
Shop Keeper    : 0.000
Short          : 0.110
Side Scroller  : -0.097
Silent Protagonist: 0.000
Simulation     : 0.201
Singleplayer   : 0.291
Skateboarding  : 0.000
Skating        : 0.000
Skiing         : 0.000
Sniper         : 0.000
Snooker        : 0.000
Snow           : 0.000
Snowboarding   : 0.000
Social Deduction: 0.121
Software       : 0.000
Software Training: 0.000
Sokoban        : 0.000
Solitaire      : 0.000
Souls-like     : 0.033
Soundtrack     : 0.000
Space          : 0.004
Space Sim      : 0.000
Spaceships     : 0.000
Spectacle fighter: 0.000
Spelling       : 0.000
Split Screen   : -0.241
Sports         : -0.047
Stealth        : 0.133
Steam Machine  : 0.000
Steampunk      : 0.219
Story Rich     : 0.029
Strategy       : 0.215
Strategy RPG   : -0.072
Stylized       : 0.146
Submarine      : 0.000
Superhero      : 0.000
Supernatural   : 0.184
Surreal        : 0.000
Survival       : 0.105
Survival Horror: -0.106
Swordplay      : 0.000
Tabletop       : -0.117
Tactical       : 0.025
Tactical RPG   : 0.084
Tanks          : 0.073
Team-Based     : -0.296
Tennis         : 0.000
Text-Based     : 0.000
Third Person   : 0.009
Third-Person Shooter: 0.119
Thriller       : 0.055
Tile-Matching  : 0.000
Time Attack    : 0.000
Time Management: 0.150
Time Manipulation: -0.095
Time Travel    : -0.095
Top-Down       : -0.001
Top-Down Shooter: 0.000
Touch-Friendly : -0.119
Tower Defense  : 0.300
TrackIR        : 0.000
Trading        : -0.111
Trading Card Game: 0.000
Traditional Roguelike: 0.000
Trains         : 0.000
Transhumanism  : -0.005
Transportation : 0.000
Trivia         : 0.000
Turn-Based     : -0.256
Turn-Based Combat: 0.073
Turn-Based Strategy: 0.082
Turn-Based Tactics: -0.021
Tutorial       : 0.002
Twin Stick Shooter: 0.116
Typing         : 0.000
Underground    : 0.009
Underwater     : 0.030
Unforgiving    : 0.001
Utilities      : 0.000
VR             : -0.100
Vampire        : 0.000
Vehicular Combat: -0.084
Video Production: 0.000
Vikings        : 0.008
Villain Protagonist: -0.123
Violent        : 0.016
Visual Novel   : 0.205
Voice Control  : 0.000
Volleyball     : 0.000
Voxel          : 0.000
Walking Simulator: -0.088
War            : -0.042
Wargame        : 0.000
Warhammer 40K  : 0.021
Web Publishing : 0.000
Well-Written   : -0.203
Werewolves     : 0.121
Western        : 0.000
Wholesome      : 0.000
Word Game      : 0.000
World War I    : 0.208
World War II   : 0.281
Wrestling      : 0.000
Zombies        : 0.104
eSports        : 0.000

In [22]:
user_model_dict[user_id].intercept_.item() # this is b[i], bias

-0.36876589615623956

These are some high scores, showing that we should recommend games in these tags. For other users whose coefficients are randomly low but the system always avoid suggestions. This is clearly unreasonable because this is just a random value, the system never knows the user's interest in these games.

In [ ]:
ratings["app_id"].value_counts()

app_id
203160     2385
319630     2064
220        1803
50300      1733
241930     1644
           ...
1157810       1
1605590       1
1269310       1
1332840       1
1041710       1
Name: count, Length: 34580, dtype: int64

In [ ]:
app_id_counts = ratings["app_id"].value_counts()
single_occurrence_count = (app_id_counts == 1).sum()

print("Number of app_ids that appear only once:", single_occurrence_count)

Number of app_ids that appear only once: 2671